
.pageCiv{
    background-image: url("./images/nuvem.jpg");
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.symbolBody{
    width: 1000px;
    height: 75%;
}

.regionBody{
    position: absolute;
    left:65%;
    background-color: #504a5c;
    width: 35%;
    height: 100%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    box-shadow: 1px 4px 10px 0 black;
    animation-name: appeared0;
    animation-duration: 2s;
}

.c{
    background-color: var(--primary-color);
    width: 90%;
    height: 45%;
    border-radius: var(--border-radius-big-box);
    border: var(--border-card);
    padding: 5%;
    margin: 15px;
    box-shadow: 1px 4px 10px 0 black;
}

.regionCivilizations{
    background-color: #3c3745;
    width: 90%;
    height: 35%;
    border-radius: 5%;
    border-collapse: initial;
    border-color: rgb(36, 33, 41) ;
    margin: 15px;
    box-shadow: 1px 4px 10px 0 black;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}

.symbolMap{
    position: relative;
    left: 100px;
    top: 50px;
    width: 600px;
    height: 600px;
}

.symbolimg{
    position: relative;
    left: -350px;
    top: -150px;
    width: 300px;
    height: 300px;
}

.regionResumTitle{
    border-bottom: 1px solid black;
}

.regionText{
    margin-top: 20px;
}

.regionTitle{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.civilTitle{
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255); 
}

th,tr,td{
    width: 30px;
    height: 30px;
}

.td_names_v0 {
    border-bottom-left-radius: 15px;
}

.td_names_v1 {
    border-bottom-right-radius: 15px;
}

.tr_names_civ {
    border-radius: 0 0 15px 15px;
}

.thead_civ{
    background-color: rgb(36, 33, 41);
    margin-top: 20px;
}

.civilTitle{
    width: 100%;
    line-height: 60px;
    border-top-right-radius: 5% 25%;
    border-top-left-radius: 5% 25%;
}

.img_right, .img_left{
    width: 30px;
    height: 30px;
}

.civilLogo1, .civilLogo2, .civilLogo3{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.exit_civilPage{
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 20px 0px 0px 20px;
    border-radius: 100%;

}

.exit_civilPage:hover{
    background-color: rgb(240, 236, 236);
}

.exit_civilPage:active{
    background-color: rgb(113, 113, 113);
}

.td_buttonright:active, .td_buttonleft:active{
    background-color: rgb(36, 33, 41);
}

.container_regionTitle{
    display: flex;
    align-items: center;
}

.regionTitle{
    margin-left: 120px;
}

.exitimg_civilPage{
    width: 25px;
    height: 25px;
}

@keyframes appeared0{
    0% {
        transform: translateX(100%);
    }
    100%{
    }
}