*{
    margin: 0px;
    padding: 0px;
}

.pageCiv{
    /* background-image: url("./images/nuvem.jpg");
    background-size: cover; */
    display: flex;
    width: 100%;
    height: 740px;
    font-family: sans-serif;
}

.symbolBody{
    width: 1000px;
    height: 75%;
}

.regionBody{
    position: absolute;
    left:940px;
    background-color: rgb(80, 74, 92);
    width: 35%;
    height: 740px;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    box-shadow: 1px 4px 10px 0 black;

    animation-name: appeared0;
    animation-duration: 2s;
}

.regionResum{
    background-color: rgb(232, 240, 247);
    height: 300px;
    border-radius: 5%;
    padding: 5%;
    margin: 5%;
    box-shadow: 1px 4px 10px 0 black;
}

.regionCivilizations{
    background-color: rgb(60, 55, 69);
    width: 90%;
    height: 260px;
    border-radius: 5%;
    margin: 5%;
    box-shadow: 1px 4px 10px 0 black;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}

.symbolMap{
    position: relative;
    left: 100px;
    top: 50px;
    width: 650px;
    height: 650px;
}

.symbolimg{
    position: relative;
    left: -350px;
    top: -150px;
    width: 300px;
    height: 300px;
}

.regionResumTitle{
    border-bottom: 3px solid black;
}

.regionText{
    margin-top: 20px;
}

.regionTitle{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.civilTitle{
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255); 
}

th,tr,td{
    width: 30px;
    height: 30px;
}

.thead_civ{
    background-color: rgb(36, 33, 41);
    margin-top: 20px;
}

.civilTitle{
    width: 100%;
    line-height: 60px;
    border-top-right-radius: 5% 25%;
    border-top-left-radius: 5% 25%;
}

.img_right, .img_left{
    width: 30px;
    height: 30px;
}

.civilLogo1, .civilLogo2, .civilLogo3{
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

.exit_civilPage{
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px 0px 0px 10px;
    border-radius: 100%;
}

.exit_civilPage:hover{
    background-color: rgb(240, 236, 236);
}

.exit_civilPage:active{
    background-color: rgb(113, 113, 113);
}

.td_buttonright:active, .td_buttonleft:active{
    background-color: rgb(36, 33, 41);
}

.container_regionTitle{
    display: flex;
    align-items: center;
}

.regionTitle{
    margin-left: 120px;
}

.exitimg_civilPage{
    width: 25px;
    height: 25px;
}

@keyframes appeared0{
    0% {
        transform: translateX(200px);
        opacity: 0%;
    }

    20% {
        opacity: 50%;
    }

    100%{
        opacity: 100%;
    }
}