
.pageCiv{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-right: 400px;
    /* overflow: hidden; */
}

.symbolBody{
    width: 1000px;
    height: 75%;
}

.regionCivilizationsGeneral {
    width: 90%;
    box-shadow: var(--shadow-color-position);
    border-radius: 25px;
}

.regionBody{
    box-shadow: var(--shadow-color-position);
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px 0px 0px 30px;
    position: fixed;
    /* top: 0; */
    right: -400px;
    width: 400px;
    height: 90%;
    visibility: hidden;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: appeared0;
}

.c{
    background-color: var(--primary-color);
    width: 90%;
    height: 45%;
    border-radius: var(--border-radius-big-box);
    border: var(--border-card);
    padding: 5%;
    /* margin: 15px; */
    box-shadow: 1px 4px 10px 0 black;
}

.regionCivilizations{
    background-color: #3c3745;
    width: 90%;
    height: 35%;
    border-radius: 5%;
    border-collapse: initial;
    border-color: rgb(36, 33, 41) ;
    margin: 15px;
    box-shadow: 1px 4px 10px 0 black;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}

.regionCivilizationsGeneral th, tr, td {
    border: none;
    border-color: none;
    vertical-align: middle;
    /* color: red; */
}

.regionCivilizationsGeneral > th, tr, td {
    border: none;
    border-color: none;
    vertical-align: middle;
    /* color: red; */
}

.symbolMap{
    position: relative;
    left: 100px;
    top: 50px;
    width: 600px;
    height: 600px;
}

.symbolimg{
    position: relative;
    left: -350px;
    top: -150px;
    width: 300px;
    height: 300px;
}

.regionResumTitle{
    border-bottom: 1px solid black;
}

.regionText{
    margin-top: 20px;
}

.regionTitle{
    /* margin-top: 10px; */
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.civilTitle{
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255); 
}

th,tr,td{
    width: 30px;
    height: 30px;
}

.td_names_v0 {
    border-bottom-left-radius: 15px;
}

.td_names_v1 {
    border-bottom-right-radius: 15px;
}

.tr_names_civ {
    border-radius: 0 0 15px 15px;
}

.thead_civ{
    background-color: rgb(36, 33, 41);
    /* margin-top: 20px; */
}

.civilTitle{
    width: 100%;
    line-height: 60px;
    border-top-right-radius: 5% 25%;
    border-top-left-radius: 5% 25%;
}

.img_right, .img_left{
    width: 30px;
    height: 30px;
}

.civilLogo1, .civilLogo2, .civilLogo3{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.exit_civilPage {
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    /* margin: 20px 0px 0px 20px; */
    border-radius: 100%;
    position: absolute;
    left: 20px;
    cursor: pointer;
    /* animation-name: appeared0;
    animation-duration: 3s; */

}

.exit_civilPage:hover{
    background-color: rgb(240, 236, 236);
}

.exit_civilPage:active{
    background-color: rgb(113, 113, 113);
}

.td_buttonright:active, .td_buttonleft:active{
    background-color: rgb(36, 33, 41);
}

.container_regionTitle{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

.exitimg_civilPage{
    width: 25px;
    height: 25px;
}

@keyframes appeared0{
    0% {
        /* transform: translateX(0); */
        visibility: visible;
    }
    100%{
        transform: translateX(-400px);
        visibility: visible;
    }
}

@keyframes test{
    100%{
    }
    0% {
        transform: translateX(100%);
    }
}