/* Conteinar da página */
.pageCiv{
    animation-name: moveMargin;
    animation-duration: 1s;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-right: 400px;
}

/* Div que contém a imagem de simbolo da região */
.simbolMap {
    height: 70vh;
    animation-name: scaleSimbol;
    animation-duration: 1s;
}

/* Imagem do simbolo da região */
.imageSimbolMap {
    height: 100%;
    /* width: 100%; */
}

.tbody_civ {
    background-color: var(--main-bg-color)
}

/* Table onde contém todas as civilizações */
.regionCivilizationsGeneral {
    width: 100%;
    border-radius: 25px;
    box-shadow: 1px 4px 10px 0 black;
}

/* Sidebar */
.regionBody {
    box-shadow: var(--shadow-color-position);
    box-shadow: 1px 4px 10px 0 black;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px 0px 0px 30px;
    position: fixed;
    right: -400px;
    width: 375px;
    height: 90%;
    visibility: hidden;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: showSidebar;
    z-index: 1;
    padding: 10px 10px;
    gap: 25px;
}

.c {
    background-color: var(--primary-color);
    width: 100%;
    /* height: 45%; */
    border-radius: var(--border-radius-big-box);
    border: var(--border-card);
    padding: 5%;
    box-shadow: 1px 4px 10px 0 black;
    flex: 1;
}

.regionCivilizations{
    background-color: #3c3745;
    width: 100%;
    height: 35%;
    border-radius: 5%;
    border-collapse: initial;
    border-color: rgb(36, 33, 41) ;
    margin: 15px;
    box-shadow: 1px 4px 10px 0 black;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}

.regionCivilizationsGeneral .td_civilLogo1 {
    border: none;
    border-color: none;
    color: var(--primary-color);
    text-align: center;
}

.td_civilLogo1, .td_civilLogo2, .td_civilLogo3 {
    height: 90px;
    width: 115px;
    padding: 5px;
    text-align: center;
    color: var(--primary-color);
}

.td_buttonleft, .td_buttonright {
    vertical-align: middle;
    color: var(--primary-color);
    width: 31px;
}

.td_civilName1, .td_civilName2, .td_civilName3 {
    color: var(--primary-color);
    text-align: center;
    vertical-align: text-top;
    padding-bottom: 5px;
}

.regionResumTitle{
    border-bottom: 1px solid black;
}

.regionText{
    margin-top: 20px;
}

.regionTitle{
    /* margin-top: 10px; */
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.civilTitle{
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255); 
}

/* .pageCiv th,.pageCiv tr,.pageCiv td{
    width: 30px;
    height: 30px;
} */

.tr_logos_civ {
    height: 70px;
}



.td_names_v0 {
    border-bottom-left-radius: 15px;
}

.td_names_v1 {
    border-bottom-right-radius: 15px;
}

.tr_names_civ {
    border-radius: 0 0 15px 15px;
}

.thead_civ{
    background-color: rgb(36, 33, 41);
    /* margin-top: 20px; */
}

.civilTitle {
    width: 100%;
    line-height: 200%;
    border-top-right-radius: 5% 25%;
    border-top-left-radius: 5% 25%;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.img_right, .img_left{
    width: 30px;
    height: 30px;
}

.civilLogo1, .civilLogo2, .civilLogo3 {
    /* width: 85px; */
    /* width: 100%; */
    height: 100%;
    max-width: 100%;
    cursor: pointer;
}

/* Botão X para fechar o card */
.exit_civilPage {
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    /* margin: 20px 0px 0px 20px; */
    border-radius: 100%;
    position: absolute;
    left: 15px;
    cursor: pointer;
    /* animation-name: showSidebar;
    animation-duration: 3s; */

}

.exit_civilPage:hover{
    background-color: rgb(240, 236, 236);
}

.exit_civilPage:active{
    background-color: rgb(113, 113, 113);
}

.td_buttonright:active, .td_buttonleft:active{
    background-color: rgb(36, 33, 41);
}

.container_regionTitle{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

.exitimg_civilPage{
    width: 25px;
    height: 25px;
}


@keyframes showSidebar{
    0% {
        /* transform: translateX(0); */
        visibility: visible;
    }
    100%{
        transform: translateX(-400px);
        visibility: visible;
    }
}

@keyframes moveMargin{
    0%{
        margin-right: 0;
    }
    100% {
        margin-right: 400px;
    }
}

@keyframes scaleSimbol{
    0%{
        transform: scale(0.3);
    }
    100% {
        transform: scale(1);
    }
}