.pg_login, .pg_register, .loginPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.TitleLogin{
    font-weight: bold;
    letter-spacing: 10px;
    color: var(--primary-color);
    text-align: center;
    background-color: rgba(80, 72, 87, 1);
    width: 115%;
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login{
    margin-top: 10%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    padding: 30px;
    font-size: 20px;
}

.container_mail, .container_passwd, .container_conf_passwd, .container_name{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: right;
    margin-bottom: -30px;
    letter-spacing: 7px;
    font-size: 15px;
}

#conf_senha{
    width: 60%;
    height: 40px;
    margin: 20px;
}

#cad{
    width: 200px;
    height: 60px;
    margin: 20px;
}

#enter{
    color: var(--primary-color);
    align-items: center;
    letter-spacing: 0.35em;
    border-radius: var(--border-radius-big-box);
    background-color: var(--main-bg-color);
    width: 300px;
    height: 40px;
    margin: 20px;
    box-shadow: var(--shadow-color-position);
}

#enter:hover{
    background-color: var(--primary-color);
    color: var(--main-bg-color);
    box-shadow: var(--shadow-color-position);
    cursor: pointer;
}

#senha{
    margin-bottom: 30px;
}

#backmap{
    margin: 30px;
    width: 300px;
    height: 40px;
}