.contentBox {
    /* height: 90vh;
    width: 90vw; */
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    padding: 10px;

    height: 90%;
    max-width: 1200px;
    width: 95%;

    box-sizing: border-box;
    /* position: absolute;
    width: 1203px;
    height: 559px;
    left: 114px;
    top: 84px; */
    background: #FFFFFF;
    border: 2px solid #B2B2B2;
    box-shadow: 4px 0px 10px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

/* .textTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.095em;
    
    color: #878787;
    
    mix-blend-mode: normal;
    font-size: 10px;

    /* position: absolute;
    width: 263px;
    height: 19px;
    left: 68px;
    top: 93px; */
    /* identical to box height */

    /* display: flex; */
    /* align-items: center; 
}*/

.arrowButton {
    height: 25px;
}

.contentButtonsAndImages {
    display: flex;
    align-items: center;
    min-height: 95%;
    min-width: 100%;
    justify-content: space-between;
}

.contentImage {
    width:280px;
    height:200px;
    background-color: white;
    margin: 20px;
    text-align: center;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.containerImages {
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
}

.image {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}

.logoImage {
    height: 150px;
}

.textImage {
    text-align: center;
}

.divSite {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonInit {
    width: 172px;
    height: 47px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.35em;

    color: #000000;
}

.buttonInit:hover {
    background: #bcbcbc;
    cursor: pointer;
}

.divLogoAndWelcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}