.contentBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 90%;
    max-width: 1200px;
    width: 95%;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #B2B2B2;
    box-shadow: 4px 0px 10px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.containerPageInit {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 100vh;
}


.logoImage {
    width: 70%;
}

.textImage {
    text-align: center;
}

.divSite {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonInit:hover {
    background: #bcbcbc;
    cursor: pointer;
}

.divLogo {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    text-align: center;
}

.divLogoAndWelcomeAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
}

/* Estilização das nuvens */
.containerClouds {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    position: fixed;
}


@keyframes moveClouds {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.clouds1 {
    margin-bottom: 250px;
    position: absolute;
    bottom: -600px;
    overflow-x: hidden;
    animation: moveClouds calc(8s * var(--i)) linear infinite;
}
.clouds2 {
   margin-bottom: 0px;
   position: absolute;
   bottom: -600px;
   overflow-x: hidden;
   animation: moveClouds calc(8s * var(--i)) linear infinite;
}
.clouds3 {
    margin-bottom: 250px;
    position: absolute;
    bottom: -600px;
    overflow-x: hidden;
    animation: moveClouds calc(8s * var(--i)) linear infinite;
}
.clouds4 {
   margin-bottom: 100px;
    position: absolute;
    bottom: -600px;
    overflow-x: hidden;
    animation: moveClouds calc(8s * var(--i)) linear infinite;
}