@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto';
}

:root {
    --main-bg-color: #3D3444;
}

body {
    height: 100%;
    background-color: var(--main-bg-color);
    align-items: center;
    justify-content: center;
}

.cardDiv {
    background-color: white;
    display: flex;
    max-width: 1200px;
    min-width: 643px;
    min-height: 430px;
    margin: 5% 5% 0 5%;
    border-radius: 15px;
    box-shadow: 4px 0px 10px 4px rgba(0, 0, 0, 0.5);
}

.asideContent {
    color: #fff;
    min-width: 25%;
    border-radius: 15px 0 0 15px;
}

.sectionAside {
    background-color: #3D3444;
    opacity: 0.9;
    border-top-left-radius: 15px;
}

.civilizationName {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
    padding: 15px;
}

.imgDiv {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.civilizationShield {
    position: relative;
    width: 150px;
    height: 170px;
}

.infoArticle {
    display: block;
    padding: 6%;
    background-color: #3D3444;
    border-bottom-left-radius:15px ;
}

.infoOfcName,
.infoLocal,
.infoCapital,
.infoReligion,
.infoGov {
    position: relative;
    font-size: 14px;
    margin-bottom: 15px;
}

.mainContent {
    border-radius: 0 15px 15px 0;
}

.mainTitle {
    font-size: 18px;
    margin: 30px 25px 5px;
    padding-bottom: 6px;
    border-bottom: 2px solid #000;
}

.mainText {
    margin: 0 25px;
    font-size: 14px;
    padding-top: 5px;
    word-spacing:3px;
}