.mapContainer {
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0px 2.5%;
}

.mapDiv {
    overflow: hidden;
    height: 65%;
    max-width: 1400px;
}

.mapDiv svg {
    transform: rotate(-25deg);
    max-width: 100%;
    max-height: 100%;
}

.mapDiv path:hover {
    cursor: pointer;
    fill: #d6d6d6;
}

.mapDiv path {
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.25);
}

.regionInfoBox {
    position: absolute;
    z-index: 9999;
    border: 100px;
    pointer-events: none;
}

.regionInfoBox {
    opacity: 0;
    animation-name: fade-in-from-bottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes fade-in-from-bottom {
    from {
      opacity: 0;
      margin-bottom: 0px;
    }
    to {
        opacity: 1;
        margin-bottom: 10px;
    }
  }

.regionInfoFigure {
    width: 100%;
    height: 100%;
}

.regionInfoFigure img {
    max-width: 100%;
    max-height: 100%;
}

.regionInfoName {
    text-align: center;
}

.searchAndMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 95%;
}

.mainSearchBar {
    z-index: 0;
    display: flex;
    align-items: center;
    background-color: #a8a8a8;
    height: 55px;
    width: 100%;
    min-width: 250px;
    max-width: 800px;
    border-radius: 50px;
    padding: 2px 0px;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.25);
}

.mainSearchBar input {
    margin: 3px;
    width: 100%;
    background-color: #a8a8a8;
    border: none;
    color: #4b4b4b;
    margin-left: 20px;

    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.05em;
    text-align: center;
}

.mainSearchBar input:focus,
.mainSearchBar input:active {
    border: none;
    outline: none;
}

.searchAndMenu .roundButton {
    margin: 0px 5px;
    min-width: 50px;
    min-height: 50px;
}

.mainSearchBar .roundButton {
    box-shadow: none;
    margin: 2px;
}
