.registerTable {
    width: 96%;
   margin: 20px 0 0 15px;
    text-align: center;
}

#container {
    background-color: var(--main-bg-color);
    height: 100vh;
    width: 100vw;
}

#table-heading {
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    font-weight: bold;
}

.registerTable .tableLineColumnRegister {
    height: 50px;
    width: 100%;
}

.registerTable .tableColumnRegister {
    text-align: center;
    vertical-align: middle;
    background: rgba(81, 73, 87, 0.138);

}

.registerTable .tableLineColumnRegister:nth-child(even) {
    background: rgba(81, 73, 87, 1);
    color: var(--primary-color);
}

.editarImg,
.excluirImg {
    width: 30px;
    height: 30px;
 
}
.editarImg:hover,
.excluirImg:hover {
    cursor: pointer;
}

.excluir {
    width: 10%;
    border-right: 0px;
}


.TitleForm {
    color: #000000;
    margin: 10px;
}

.input-box {
    margin: 30px;
}

#username-input {
    display: inline-block;
    margin-left: 6%;
    margin-right: 2%;
}

#regions {
    display: inline-block;
}

.cadastrar {
    height: 40px;
    width: 140px;
    color: var(--primary-color);
    border-color: none;
    border-radius: var(--border-radius-big-box);
    background-color: var(--main-bg-color);
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;

}

.cadastrar:hover {
    background-color: var(--primary-color);
    color: var(--main-bg-color);
    box-shadow: var(--shadow-color-position);
    cursor: pointer;
}

.registerContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 70vh;   
    width: 95%;
    max-width: 1200px;
    background: var(--primary-color);
    border: var(--border-card);
    box-shadow: var(--shadow-color-position);
    border-radius: var(--border-radius-big-box);
    border: var(--border-card);
    overflow: auto;
}

#section-lista {
    width: 800px;
    display: table-cell;
}