table {
    width: 100%;

    margin-top: 50px;
    text-align: center;
}

#table-heading {
    background-color: #14BC39;
    color: #FFFFFF;
}

tr {
    height: 50px;
    width: 100%;
}

td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
}

.editar img, .excluir img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.excluir {
    width: 10%;
    border-right: 0px;
}

tr:nth-child(even) {
    background: #BDE3C6;
}