:root {
    /* Cor do card grande */
    --primary-color: #ffffff;

    /* Cor de sombra do card */
    --shadow-color-position: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    /* Borda arredondada do card grande */
    --border-radius-big-box: 15px;
    
    /* Borda padrão dos cards grandes */
    --border-card: 2px solid #B2B2B2;
    
    /* Cor Principal */
    --main-bg-color: #3D3444;
    
    /* Cor dos inputs */
    --input-color: #D9D9D9;

    /* BackGround claro*/
    --light-color: #b2b2b230;
    
    /* Cor de sombra das imagens */
    --shadow-image: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    /* Variável para movimento das núvens */
    /* --i: 1; */
}

* {
    font-family: 'Roboto';
}

body {
    /* background-image:url(../uploads/backgroundImg.png) ; */
    background-image: url(../uploads/mountain-peak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

/* Card grande onde contém todas as informações */
.containerInformation {
    margin-top: 50px;
    /* margin-bottom: 50px; */
    height: 90%;
    width: 95%;
    max-width: 1200px;
    background: var(--primary-color);
    border: var(--border-card);
    box-shadow: var(--shadow-color-position);
    border-radius: var(--border-radius-big-box);
    border: var(--border-card);
}

.backButton {
    margin-top: 40px;
    padding: 20px;

    background-color: var(--primary-color);
    display: flex;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;

    height: 50px;
    width: fit-content;
    min-width: 200px;

    background: var(--primary-color);
    box-shadow: var(--shadow-color-position);
    border: none;
    border-radius: 25px;

    font-weight: 600;
    text-align: center;
    font-size: 1.15em;
    letter-spacing: 0.285em;
}

.backButton:hover {
    cursor: pointer;
    background-color: #d6d6d6;
}

.backButton:active {
    background-color: #a8a8a8;
}

.backButton p {
    width: 100%;
    font-weight: 600;
    padding-left: 10px;
    /* text-align: center;
    font-size: 1.25em;
    letter-spacing: 0.285em; */
}

.backButton svg {
    margin: 5px;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
}

.roundButton {

    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 50px;

    background: var(--primary-color);
    box-shadow: var(--shadow-color-position);
    border: none;
    border-radius: 25px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 2px;
}

.searchButton {
    min-height: 45px;
    min-width: 45px;
    max-width: 45px;
    max-height: 45px;
    margin-right: 2px;
}

.navBar .roundButton {
    min-width: 50px;
}

.logoutImg, .editImg {
    width: 25px;
}


.roundButton:hover {
    cursor: pointer;
    background-color: #d6d6d6;
}

.roundButton:active {
    background-color: #a8a8a8;
}

header {
    /* margin: auto; */
    max-width: 1200px;
    width: 95%;
    height: 55px;
    display: flex;
    align-items: center;
}

#whateverlandLogo {
    padding: 4px;
    background-color: rgb(85, 17, 17);
    letter-spacing: 0.285em;
    color: var(--primary-color);
}

.navBar {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 0px 0px 28px 28px;
    overflow: hidden;
}

.navButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.navButton {
    background-color: var(--primary-color);
    width: 100%;
    min-width: 100px;
    border: none;

    font-size: 1.1em;
    font-weight: 600;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0.2em;
}

.clickedNavButton {
    color: var(--primary-color);
    background-color: rgba(61, 52, 68, 0.9);
}

.navButton:hover {
    background-color: #d6d6d6;
    cursor: pointer;
}

.clickedNavButton:hover {
    color: var(--primary-color);
    background-color: rgba(61, 52, 68, 0.9);
    cursor: auto;
}

.navButton:active {
    background-color: rgba(115, 98, 128, 0.9);
}

.smallSearchBar {
    z-index: 0;
    display: flex;
    align-items: center;
    background-color: #a8a8a8;
    height: 90%;
    width: 500px;
    border-radius: 50px;
    margin: 3px;
}

.smallSearchBar input {
    margin: 3px;
    width: 100%;
    background-color: #a8a8a8;
    border: none;
    color: #4b4b4b;
    margin-left: 20px;

    font-size: 16px;
}

.smallSearchBar input:focus,
.smallSearchBar input:active {
    border: none;
    outline: none;
}

.smallSearchBar svg {
    background-color: var(--primary-color);
    z-index: 5;

    margin: 5px;
    width: 56px;

    border-radius: 500px;
    border: none;
    box-shadow: var(--shadow-color-position);
    overflow: hidden;
}

.smallSearchBar svg:hover {
    cursor: pointer;
    background-color: #d6d6d6;
}

.mainInput {
    background-color: var(--input-color);
    border: none;
    font-size: 15px;
    border-radius: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 40px;
    text-align: center;
}

.mainSelect {
    text-align: center;
    background-color: var(--input-color);
    width: 304px;
    height: 42px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius-big-box);
    border: none;

    font-size: 15px;
}

.hoverBox {
    position: absolute;
    z-index: 9999;
    font-weight: 600;

    width: 100px;
    padding: 7px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid #B2B2B2;
    box-shadow: var(--shadow-color-position);
}

.hoverBox::after {
    content: "";
    display: block;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 15px solid var(--primary-color);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 1;
  }

/* width */
::-webkit-scrollbar {
    width: 17px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--input-color);
    border-radius: var(--border-radius-big-box);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B2B2B2;
    border-radius: var(--border-radius-big-box);
  }
/* Estilização geral */
/* Começa a produzir daqui pra baixo Pedro */
