/* PÁGINA INÚTIL POR FAVOR NÃO REPLICAR! SERÁ DELETADA DEPOIS */

/* #galleryContainer {
     display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 100vw;
    height: 100vh; 
} */

.eventFigure {
    width: 100px;
}

.eventImage {
    width: 100%;
}

#contentBox {
    flex-direction: column;
    padding: 10px 0px 0px 10px;
    overflow: hidden;
   /*  height: 70vh; */
    /* position: relative; */
}

/* #contentBox::after {
    content: "";
    display: flex;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    } */
    
/* .textTitle {
    text-transform: uppercase;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 11px;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 35px;
    vertical-align: middle;
    border-bottom: 3px solid #000000;
    margin-right: 50px;
} */

.arrowButton {
    height: 25px;
}

.contentButtonsAndImages {
    display: flex;
    align-items: center;
    min-height: 95%;
    min-width: 100%;
    justify-content: space-between;
}

.contentImage {
    width: 280px;
    height: 200px;
    background-color: var(--primary-color);
    margin: 20px;
    text-align: center;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.containerImagesGallery {
   /*  height: 100%; */
   /* height: auto; */
    width: 100%;
    /* padding-top: 20px; */
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   /*  position: relative; */
   overflow: auto;
}

.image {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}

.textImage {
    text-align: center;
}