/* PÁGINA INÚTIL POR FAVOR NÃO REPLICAR! SERÁ DELETADA DEPOIS */

.eventFigure {
    width: 100px;
}

.eventImage {
    width: 100%;
}

#contentBox {
    margin-top: 50px;
    padding: 10px;

}

.textTitle {
    text-transform: uppercase;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 11px;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 35px;
    vertical-align: middle;
    border-bottom: 3px solid #000000;
}

.arrowButton {
    height: 25px;
}

.contentButtonsAndImages {
    display: flex;
    align-items: center;
    min-height: 95%;
    min-width: 100%;
    justify-content: space-between;
}

.contentImage {
    width: 280px;
    height: 200px;
    background-color: var(--primary-color);
    margin: 20px;
    text-align: center;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.containerImages {
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}

.textImage {
    text-align: center;
}