.titleEdit {
    font-size: 20px;
    border-bottom: 3px solid #000000;
    margin-bottom: 5px;

}

.containerEditMain {
    padding: 20px;
    background-color: white;
    width: 55%;
    display: flex;
    /* margin-right: auto;
    margin-left: auto;
    margin-top: 15px; */
    height: auto;
    border-radius: 15px;
    flex-direction: column;
    box-sizing: border-box;

}

.labelEdit {
    display: flex;
}

.InputEdit {
    justify-content: center;
    /* width: 300px; */
    border-radius: 5px;
    border: 2px solid black;
    font-size: 15px;
    border-radius: 15px;
    text-align: center;
    /* align-items: center; */
    /* background-color: var(--input-color); */
    /* border: none; */
    /* display: flex; */
}

.containerInformationEdit {
    height: 90%;
    width: 1200px;
    max-width: 1800px;
    background: var(--primary-color);
    border: var(--border-card);
    box-shadow: var(--shadow-color-position);
    border-radius: var(--border-radius-big-box);
    border: var(--border-card);
    padding: 25px;
    min-width: 800px;
    
    /* display: flex; */
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
}

.containerEditPages {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    
}

.btn-edit {
    align-items: center;
    justify-content: center;
    display: flex;
    /* margin: 8px;
    margin-right: auto; */
    color: var(--primary-color);
    border-radius: var(--border-radius-big-box);
    background-color: var(--main-bg-color);
    width: 140px;
    height: 40px;
    box-shadow: var(--shadow-color-position);
}

.btn-edit:hover {
    background-color: var(--primary-color);
    color: var(--main-bg-color);
    box-shadow: var(--shadow-color-position);
    cursor: pointer;

}

.editTable {
    /* margin-left: 15px; */
    max-width: 95%;
    /* margin-top: 50px; */
    text-align: center;
}

.editTable-heading {
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    font-weight: bold;
}
.labelEdit1{
    border-bottom: 3px solid #000000;

}

.editTable td {
    width: 120px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    background: rgba(81, 73, 87, 0.138);

}

.editTable tr:nth-child(even) {
    background: rgba(81, 73, 87, 1);
    color: var(--primary-color);
}

.imgEdit {
    width: 250px;
    height: 250px;
}

.InputDesc {
    /* margin-left: 5px; */
    /* width: 585px; */
    height: 89px;
    border: 2px solid black;
    border-radius: var(--border-radius-big-box);
}

.configImgEdit{
    width: 50px;
    height: 50px;
}
#tableHistory td tr{
    width: 150px;
    height: 150px;
}
.divFormStartEdit{
    display: flex;
    flex-direction: column;
}