/* PÁGINA INÚTIL POR FAVOR NÃO REPLICAR! SERÁ DELETADA DEPOIS */

/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#eventCard{
    flex-direction: column;
    padding: 10px;
}

#outerEventsBar {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
    max-height: 60px;
}

.innerEventsBar {
    overflow: scroll;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    scroll-behavior: smooth;
    border-radius: 500px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.innerEventsBar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.innerEventsBar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.yearsNavButton {
    z-index: 1;

    margin: 3px;
    min-width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 500px;
    border: none;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);

}

.yearsNavButton:hover {
    cursor: pointer;
    background-color: #d6d6d6;
}
.scrollEnd {
    background-color: #bebebe;
    cursor:default;
}
.scrollEnd path {
    fill: white;
}

.scrollEnd:hover {
    background-color: #bebebe;
    cursor:default;
}

.left {
    transform: rotate(180deg);
}

.yearButton {
    background-color: var(--primary-color);
    min-width: 135px;
    border: none;
    
    font-size: 1.35em;
    font-weight: 600;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0.2em;
    border-radius: 50px;

}

.clickedYearButton {
    color: var(--primary-color);
    background-color: rgba(61, 52, 68, 0.9);
}
.yearButton:hover {
    background-color: #8a818b;
    cursor: pointer;
}

.yearButton:active {
    background-color: rgba(115, 98, 128, 0.9);
}

/* .eventCard {
    background-color: var(--primary-color);
    max-width: 1200px;
    width: 95%;
    padding: 25px;

    border-radius: 15px;
    border: 2px solid #B2B2B2;
    box-shadow: 4px 0px 10px 4px rgba(0, 0, 0, 0.5);
} */

/* .eventCardTitle {
    margin-bottom: 10px;
    font-size: 1em;
    color: #878787;
} */

.eventCardSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.eventAside {
    width: 30%;
    min-width: 200px;
}

.historyEventFigure {
    width: 100%;
    padding: 15px;
}

.eventImage {
    width: 100%;
}

.eventFigureLabel {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
}

.eventArticle {
    width: 70%;
}

/* .eventTitle {
    margin-left: 0px;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 35px;
    border-bottom: 3px solid #000000;
    vertical-align: middle;
} */

/* .eventParagraph {
    padding: 15px 0px 15px 0px;
    font-size: 1.1em;
    line-height: 21px;
    text-align: justify;
} */

@media screen and (max-width: 736px) {
    .eventArticle {
        width: 100%;
    }
}