#eventCard{
    flex-direction: row;
    padding: 10px;
}

#outerEventsBar {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
    max-height: 60px;
}

.innerEventsBar {
    overflow: scroll;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    scroll-behavior: smooth;
    border-radius: 500px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.innerEventsBar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.innerEventsBar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.yearsNavButton {
    z-index: 1;

    margin: 3px;
    min-width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 500px;
    border: none;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.yearsNavButton:hover {
    cursor: pointer;
    background-color: #d6d6d6;
}

.scrollEnd {
    background-color: #bebebe;
    cursor:default;
}

.scrollEnd path {
    fill: white;
}

.scrollEnd:hover {
    background-color: #bebebe;
    cursor:default;
}

.left {
    transform: rotate(180deg);
}

.yearButton {
    background-color: var(--primary-color);
    min-width: 135px;
    border: none;
    
    font-size: 1.35em;
    font-weight: 600;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0.2em;
    border-radius: 50px;

}

.clickedYearButton {
    color: var(--primary-color);
    background-color: rgba(61, 52, 68, 0.9);
}

.yearButton:hover {
    background-color: #8a818b;
    cursor: pointer;
}

.yearButton:active {
    background-color: rgba(115, 98, 128, 0.9);
}

.eventCardSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    width: 70%;
}

#cardTitle{
margin-bottom: 10px;
}

.mainAside {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.eventAside {
    width: 100%;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.historyEventFigure {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.eventImage {
    width: 100%;
}

.eventFigureLabel {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
}

.eventArticle {
    width: 100%;
    padding: 0 20px 10px 20px;
}

#eventParagraph {
    overflow: auto;
}

@media screen and (max-width: 736px) {
    #eventCard {
        flex-direction: column;
        overflow-y: auto;
    }

    .mainAside {
        width: 100%;
    }

    .eventArticle {
        width: 100%;
        padding: 0 10px 10px 10px;
    }

    .eventCardSection {
        width: 100%;
        overflow: unset;
    }
}